@font-face {
    font-family: main;
    src: url('neolatinafont.ttf');
}
#head
{
font-family:main;
font-size: 50px;
color:black;
}
#container
{
  padding:25px;
//  border-bottom:solid black thin;
//background-image: url('back.jpg');
}
#cover
{
  position:fixed;
  top:0px;
  bottom:0px;
  display:block;
  z-index: 0;
  //background-image: url('back.jpg');
}
#layer0
{
  opacity: 0.1;
  background-image: url('back.jpg');
}
/*#layer1
{
  background-color:rgba(255, 255, 255, 0.9);
  position: fixed;
  top:0;
  z-index:9;
}*/
#under
{
  display:block;
}
body
{
  margin:0;
  //background-color:rgba(255, 255, 255, 0.9);
}
.profilepic
{
//  border: grey 5px solid;
}
#mainbelow
{
  //display:none;
  position: fixed;
  //top:0;
}
button.lbuttonvsocial
{
  border-radius:25px;
  border:medium solid black;
  background-color:white;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.centerify
{
  position:relative;
  top:100px;
}
